<div class="index-wrapper">
  <h1 class="admin-form-title">Admin Login</h1>
  <form action="/login" method="post" class="admin-form">
    <label for="username">username:</label>
    <input type="text" name="username" required autofocus><br>
    <label for="password">password:</label>
    <input type="password" name="password" required><br>
    <input type="submit" value="Register">
  </form>
</div>