<!--- sign up start -->
<div class="index-wrapper">
  <!-- top nav bar -->
  <div id="window">
  <div id="toolbar">
    <div class="top">
      <div id="lights">
        <div class="light red">
          <div class="glyph">×</div>
          <div class="shine"></div>
          <div class="glow"></div>
        </div>  <!-- end light red -->      
        <div class="light yellow">
          <div class="glyph">-</div>
          <div class="shine"></div>
          <div class="glow"></div>
        </div> <!-- end light yellow -->
        <div class="light green">
          <div class="glyph">+</div>
          <div class="shine"></div>
          <div class="glow"></div>
        </div> <!-- end light green --> 
      </div> <!-- end lights -->
      <div id="title"> 
        <div class="folder">
          <div class="tab"></div>
          <div class="body"></div>
        </div> <!-- end #title --> 
        Login - 1276x216
      </div> <!-- end lights --> 
      <div id="bubble">
        <div class="shine"></div>
        <div class="glow"></div>
      </div> <!-- end #bubble --> 
    </div> <!-- end .top -->
  </div> <!-- end #toolbar -->
  <!-- end top nav bar -->
  <div class="index">
    <form action="/signup" method="post">
     <h1 class="admin-form-title">Admin Sign Up</h1>
    <label for="username">username:</label>
    <input class"admin-input-field" type="text" name="username" required autofocus><br>
    <label for="password">password:</label>
    <input class"admin-input-field-password" required style="margin-top: 10px" type="password" name="password" required><br>
    <input class="admin-button" type="submit" value="Register">
  </form>
    </div> <!--end window --> 
  </div><!-- end .index -->
</div> <!--end window-->

<!-- nav bar break -- > 







