.index-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%; 
  padding: 1em;
  width: 70vw;
  height: 400px;
  color: #EEEEEE;
  background-color: #202020;
  text-align: center;
}

.index-title {
  font-size: 3em;
  letter-spacing: 1px;  
}

.index-description {
  margin: 0 auto;
  width: 400px;
  letter-spacing: 1px;
  text-align: left;
  font-size: 1.5em;
}

.index-input-wrapper {
  font-size: 1.5em;
  margin-top: 2em;
}

.index-input-wrapper p {
  margin-bottom: 0;
  color: green;
}

.index-input-field {
  width: 400px;
  margin: 1em 0 0 0.5em;
  background-color: inherit;
  color: inherit;
  border-style: none;
}

.index-input-field:focus {
  outline: none;
}