<div class="hidden">
  <div class="challenge">
    <p class="challenge-title"></p>
    <!-- these tags must be nested with no white space because white space is set to pre wrap in css -->
    <p class="challenge-instructions"></p>

    Enter $<p class="challenge-answer"></p>
  </div>
  <div class="console"><p>Please enter a command:</p><div class="console-input-wrapper">$<input class="console-input-field" autofocus></input></div></div>
</div>