
<div class="hidden">
  <!-- challenge box --> 
  <div class="challenge">
    <p class="challenge-title"></p>
    <!-- these tags must be nested with no white space because white space is set to pre wrap in css -->
    <p class="challenge-instructions"></p>

    Enter $<p class="challenge-answer"></p>
  </div>
  <!-- challenge box-->
  <!-- ascii box -->
  <div class="ascii">
    
  </div>
  <!-- end ascii -->
  <!-- top nav bar -->
  <div id="window">
  <div id="toolbar">
    <div class="top">
      <div id="lights">
        <div class="light red">
          <div class="glyph">×</div>
          <div class="shine"></div>
          <div class="glow"></div>
        </div>  <!-- end light red -->      
        <div class="light yellow">
          <div class="glyph">-</div>
          <div class="shine"></div>
          <div class="glow"></div>
        </div> <!-- end light yellow -->
        <div class="light green">
          <div class="glyph">+</div>
          <div class="shine"></div>
          <div class="glow"></div>
        </div> <!-- end light green --> 
      </div> <!-- end lights -->
      <div id="title"> 
        <div class="folder">
          <div class="tab"></div>
          <div class="body"></div>
        </div> <!-- end #title --> 
        Challenges - 1214x683
      </div> <!-- end lights --> 
      <div id="bubble">
        <div class="shine"></div>
        <div class="glow"></div>
      </div> <!-- end #bubble --> 
    </div> <!-- end .top -->
  </div> <!-- end #toolbar -->
  <!-- end top nav bar -->
  <div class="console"><p>Please enter a command:</p><div class="console-input-wrapper">$<input class="console-input-field" autofocus></input></div></div>
</div>