<div class="index-wrapper">
  <h1 class="index-title">Command Academy</h1>
  <p class="index-description">Stop reading about UNIX commands and start implementing them!</p>
  <div class="index-input-wrapper">
    <p class="index-instructions">Type "<b>begin</b>" to get started!</p>
    &gt;<input class="index-input-field" autofocus></input>
  </div>
</div>

<div class="admin-link">
  <a href="/signup">Sign Up</a>
  <a href="/login">Login</a>
</div>