<div class="hidden">
  <div class="challenge">
    <p class="challenge-title">Welcome to Command Academy!</p>
    <p class="challenge-instructions">
    You're here to learn how to use the command line! So over the next few exercises we're going to guide you step by step into the wonderful world of UNIX commands!<br><br>

    By the end you'll be able to navigate your entire computer using UNIX commands and you'll never have to manually find or create a project again! Type "begin" to continue
    </p>
    &gt;<p class="challenge-answer">begin</p>
  </div>
  <div class="console"><p>Please enter a command:</p><div class="console-input-wrapper">$<input class="console-input-field" autofocus></input></div></div>
</div>