<div class="index-wrapper">
  <!-- top nav bar -->
  <div id="window-two">
  <div id="toolbar">
    <div class="top">
      <div id="lights">
        <div class="light red">
          <div class="glyph">×</div>
          <div class="shine"></div>
          <div class="glow"></div>
        </div>  <!-- end light red -->      
        <div class="light yellow">
          <div class="glyph">-</div>
          <div class="shine"></div>
          <div class="glow"></div>
        </div> <!-- end light yellow -->
        <div class="light green">
          <div class="glyph">+</div>
          <div class="shine"></div>
          <div class="glow"></div>
        </div> <!-- end light green --> 
      </div> <!-- end lights -->
      <div id="title"> 
        <div class="folder">
          <div class="tab"></div>
          <div class="body"></div>
        </div> <!-- end #title --> 
        Welcome to Command Academy<span class="resolution"> - 1212x632</span>
      </div> <!-- end lights --> 
      <div id="bubble">
        <div class="shine"></div>
        <div class="glow"></div>
      </div> <!-- end #bubble --> 
    </div> <!-- end .top -->
  </div> <!-- end #toolbar -->
  <!-- end top nav bar -->
  <div class="index">
    <h1 class="index-title">Command Academy</h1>
    <p class="index-description">Stop reading about UNIX commands and start implementing them!</p>
    <div class="index-input-wrapper">
      <p class="index-instructions">Type "<b>begin</b>" to get started!</p>
     &gt;<input class="index-input-field" autofocus></input>
    </div> <!--end window --> 

  <!-- admin link -->
<div class="admin-link">
  <% if admin_count >= 1 %>
    <a href="/login">Admin Login</a>
  <% else %>
    <a href="/signup">Sign Up</a>
  <% end %>
</div>
</div><!-- end .index -->
  <!-- end admin link --> 
</div> <!--end window-->

